.stick-footer {
  width 100%
  .am-list {
    position: fixed;
    left 0
    bottom 0
    width 100%
  }
}
.chat-me {
  .am-list-content {
    padding-right: .15rem !important;
    text-align: right !important
  }
}