.stick-footer {
  width 100%
  .am-list {
    height .88rem
    position: fixed;
    left 0
    bottom 0
  }
}
.chat-me {
  .am-list-content {
    padding-right: .15rem !important;
    text-align: right !important
  }
  .am-list-extra {
    flex-basis: auto;
  }


}
  .am-grid-text {
    margin-top: 0 !important;
  }
  * {
    touch-action: none !important;
  }

// #chat-page .chat-me .am-list-extra {
// 	flex-basis: auto;
// }

// #chat-page .chat-me .am-list-content {
// 	padding-right: 15px;
// 	text-align: right;
// }

// #chat-page .am-grid-icon {
// 	display: none;
// }

// #chat-page .am-grid-text {
// 	margin-top: 0;
// 	font-size: 30px;
// }
