body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.am-tab-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto !important;
}
.fixd-header.am-navbar {
	position: fixed;
	top: 0;
	width: 100%;
}
.fixd-header {
	z-index: 1000;
}
.am-pull-to-refresh-content-wrapper {
	padding-bottom: 70px !important;
}